<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abner.practicecollect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recyclerView.RecyclerViewActivity"></activity>
        <activity
            android:name=".launchMode.Activity2"
            android:launchMode="singleTask" />
        <activity
            android:name=".launchMode.Acitivity1"
            android:launchMode="singleTask"
            android:taskAffinity="com.abner.mode1" />
        <activity
            android:name=".launchMode.LaunchModeMainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".slidingConflict.ScrollViewRecycleViewActivity" />
        <activity android:name=".slidingConflict.MainSlidingConflictActivity" />
        <activity android:name=".jni.JNIActivity" />
        <activity android:name=".EventDispatche.KeyActivity" />
        <activity android:name=".EventDispatche.MotionEventActivity" />
        <activity android:name=".EventDispatche.EventDispatchMainActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".service.client.ClientActivity" />
    </application>

</manifest>